*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;    
}
html{
    width: 400px;
    height: 380px;
}
body{
    background: #121721;
}
header{
    width: 100%;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #010314;
}
form{
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}
input[type='text']{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    border: none;
    padding-left: 8px;
    color: #010314;
    font-family: 'Roboto', sans-serif;
}
input[type='button']{
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: #F5BD15;
    color: #010314;
    outline: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Patua One', cursive;
    font-size: 20px;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    height: 17px;
    font-size: 17px;
    font-family: 'Cantata One', serif;;
}
#container_movie{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}
#box_image{
    width: 135px;
    height: 205px;
    margin: 0;
    border: 2px solid orange;
    background-color: rgba(255, 255, 255, 0.137);
}
#container_rew{
    width: 135px;
    margin-top: 10px;
    border: 2px solid rgba(255, 255, 255, 0.137);
}
h3{
    font-size: 15px;
}
ul{
    list-style: none;
    
}
li{
    font-size: 13px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
    height: 100%;
}